.parent{
    background-color: white;
    width: 90%;
    height: 450px;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(10,auto);
}
.child{
    background-color: white;
    border: thin solid rgb(151, 150, 150);
    padding: 0px;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#d{
    color: white;
    background-color: rgb(151, 150, 150);
}
#c{
    color: rgb(102, 97, 97);
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10%
}